.App {
  text-align: center;
}

.App-skull{
  animation: App-skull-spin infinite 20s linear;
  height: 15vmin;
  position: relative;
  animation-duration: 10s;
}
.App-skull2{
  animation: App-skull2-spin infinite 20s linear;
  height: 15vmin;
  position: relative;
  animation-duration: 10s;
  animation-delay: 2s
}

.header {
  background-color: #3498DB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Skills {
  background-color: #2BACB5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.WhoAmI {
  background-color: #44C650;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WhereICameFrom {
  background-color: #E74C3C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-skull-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
  0%   {left:0vw; top:0vh;}
  25%  {left:-25vw; top:0vh;}
  50%  {left:-25vw; top:-25vh;}
  75%  {left:0vw; top:-25vh;}
  100% {left:0vw; top:0vh;}
}
@keyframes App-skull2-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0%   {left:0vh; top:0vh;}
  25%  {left:25vh; top:0vh;}
  50%  {left:25vh; top:25vh;}
  75%  {left:0vh; top:25vh;}
  100% {left:0vh; top:0vh;}
}
